.highlightMatch {
  background-color: #ffd9a8;
  color: #b53f00;
  border-radius: 3px;
  padding: 0 1px;
  box-decoration-break: clone;
}

.highlightExactMatch {
  background-color: #fc9b41;
  color: #1e2e45;
  border-radius: 3px;
  padding: 0 1px;
  box-decoration-break: clone;
}
